html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Open Sans", sans-serif;
	color: #444444;
}

a {
	color: #ffc107;
	text-decoration: none;
}

a.select,
a:hover {
	color: #ffce3a;
	text-decoration: none;
}

/* CSS */
button {
	font-size: 16px;
	font-weight: 200;
	letter-spacing: 1px;
	padding: 13px 20px 13px;
	outline: 0;
	border: 1px solid black;
	cursor: pointer;
	position: relative;
	background-color: rgba(0, 0, 0, 0);
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	text-transform: uppercase;
}

button:after {
	content: "";
	background-color: #ffce3a;
	width: 100%;
	z-index: -1;
	position: absolute;
	height: 100%;
	top: 7px;
	left: 7px;
	transition: 0.2s;
}

button:hover:after {
	top: 0px;
	left: 0px;
}

@media (min-width: 768px) {
	button {
		padding: 13px 50px 13px;
	}
}

h1 {
	font-size: 28px;
	margin: 0;
	padding: 0;
	line-height: 1;
	font-weight: 600;
	letter-spacing: 2px;
}

.yellow {
	color: #ffce3a;
}

.bold {
	font-weight: bold;
}

.wrap {
	max-width: 1024px;
	margin: 0 auto;
}

header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	padding: 20px 0;
	background: transparent;
	z-index: 1;
}

.headerHome {
	transition: all 0.5s;
}

header.header-scrolled {
	background: rgba(55, 64, 85, 0.9);
	padding: 15px 0;
}

header .logo,
header .navigation {
	flex: 1 1;
}

.headerWrap {
	display: flex;
	align-items: center;
}

header .logo {}

header a {
	color: #fff;
}

header .logo a:hover {
	color: #fff;
}

.navigation {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#hero {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: calc(100vh - 90px);
	min-height: 500px;
	background: url("../images/bg.jpg") top center;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
}

#hero:before {
	content: "";
	background: rgba(45, 53, 69, 0.7);
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
}

#hero h1 {
	margin: 0;
	font-size: 48px;
	font-weight: 700;
	line-height: 56px;
	color: #fff;
}

#hero h2 {
	color: #eee;
	margin: 15px 0 0 0;
	font-size: 22px;
	line-height: 1.5;
}

.heroSectionWrap {
	position: relative;
	padding: 50px;
	border-radius: 20px;
	box-shadow: 0 0 10px 1px rgb(0 0 0 / 25%);
	backdrop-filter: blur(15px);
	text-align: center;
}

main {
	flex: auto;
	min-height: 500px;
	padding-top: 0px;
}

.mainReferencesWrap {
	position: relative;
	height: 90px;
	background: rgba(55, 64, 85, 0.1);
	overflow: hidden;
}

.mainReferences {
	position: absolute;
	top: 20px;
	padding: 0 20px;
	animation: linear infinite alternate;
	-webkit-animation-name: run;
	-webkit-animation-duration: 5s;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.mainReferences:hover {
	animation-play-state: paused;
}

@-webkit-keyframes run {
	0% {
		left: 0;
		transform: translateX(0);
	}

	100% {
		left: 100%;
		transform: translateX(-100%);
	}
}

.mainReferencesLogo {}

.mainReferencesLogo img {
	max-width: 100px;
	max-height: 50px;
	filter: grayscale(100%);
	opacity: 0.6;
}

.mainReferencesLogo:hover img {
	filter: unset;
	opacity: 1;
}



.mainNadzor {
	padding: 50px;
}

.mainNadzorItems {
	display: flex;
	gap: 50px;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 0 auto;
}

.mainNadzorItem {
	flex: 0 0 200px;
	padding: 20px;
	font-weight: bold;
	border: 1px solid rgba(255, 255, 255, .25);
	border-radius: 20px 0 20px 0;
	background-color: rgba(255, 255, 255, 0.45);
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

	backdrop-filter: blur(15px);
	text-align: center;
}

.mainNadzorItemIcon {
	height: 50px;
	width: 100%;
	margin-bottom: 16px;
	background: url(../images/home.svg)no-repeat center center;
	background-size: 50px;
}

.mainNadzorItemIconNadzor {
	background-image: url(../images/nadzor.svg);
}

.mainNadzorItem:hover .mainNadzorItemIconNadzor {
	background-image: url(../images/nadzor.gif)
}

.mainNadzorItemIconSvetovanje {
	background-image: url(../images/svetovanje.svg);
}

.mainNadzorItem:hover .mainNadzorItemIconSvetovanje {
	background-image: url(../images/svetovanje.gif)
}

.mainNadzorItemIconHome {
	background-image: url(../images/home.svg);
}

.mainNadzorItem:hover .mainNadzorItemIconHome {
	background-image: url(../images/home.gif)
}

.mainNadzorItemIconProjekt {
	background-image: url(../images/projekt.svg);
}

.mainNadzorItem:hover .mainNadzorItemIconProjekt {
	background-image: url(../images/projekt.gif)
}

.mainNadzorItemIconDocument {
	background-image: url(../images/document.svg);
}

.mainNadzorItem:hover .mainNadzorItemIconDocument {
	background-image: url(../images/document.gif)
}

.mainNadzorItemIconSolar {
	background-image: url(../images/solar.svg);
}

.mainNadzorItem:hover .mainNadzorItemIconSolar {
	background-image: url(../images/solar.gif)
}

.mainNadzorContent {}

.mainNadzorContent ul {
	margin: 0;
	padding: 50px 0;
}

.mainNadzorContent ul li {
	position: relative;
	list-style: none;
	margin-left: 50px;
	padding: 26px 26px 26px 10px;
	border-bottom: 1px solid #ffc107;
}

.mainNadzorContent ul li:before {
	content: "";
	position: absolute;
	top: 23px;
	left: 4px;
	display: inline-block;
	height: 24px;
	width: 24px;
	margin-left: -40px;
	background-size: contain;
	background-image: url("../images/check.svg");
}

.mainNadzorContentLink {
	text-align: center;
}

.mainNadzorContentLink a {
	margin-top: 30px;
}

.reference {
	padding: 100px 0;
}

.podjetje {
	padding: 100px 0;
	line-height: 1.5;
}

.podjetje p {
	margin: 30px 0;
}

.podjetje p:first-child {
	margin-top: 0;
}

.podjetjeInfo {
	display: inline-block;
	margin: 50px auto 0;
	font-weight: bold;
}


footer {
	padding: 20px 0;
	background: rgba(55, 64, 85, 0.9);
	color: #fff;
}

.footerWrap {
	display: flex;
	gap: 50px;
}

footer a {
	color: #fff;
}

footer .footerLogo a:hover {
	color: #fff;
}

footer .footerLogo h1 {
	font-size: 22px;
}

.footerSection {
	flex: 1;
}

.footerSectionHeader {}

.footerSectionContent {}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	h1 {
		font-size: 25px;
	}

	.navigation {
		display: none;
	}

	header .logo {
		padding-left: 20px;
	}

	#hero h1 {
		font-size: 34px;
	}

	#hero h2 {
		font-size: 18px;
		font-weight: normal;
	}

	.heroSectionWrap {
		padding: 20px;
		margin: 0 20px;
	}

	.mainReferences {
		-webkit-animation-duration: 10s;
	}

	.mainNadzor {
		padding: 20px;
	}

	.mainNadzorItems {
		gap: 20px;
	}

	.mainNadzorItem {
		flex: 0 0 calc(50% - 20px - 12px);
		padding: 10px;
	}

	.mainNadzorItemIcon {
		height: 70px;
		background-size: 70px;
	}


	.reference {
		padding: 100px 20px;
	}

	.podjetje {
		padding: 100px 20px;
	}

	footer {
		padding: 20px;
	}

	.footerWrap {
		flex-direction: column;
	}

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}