html,body{
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	font-family: "Open Sans", sans-serif;
	color: #444444;
}
  
a {
	color: #ffc107;
	text-decoration: none;
}
a.select,
a:hover {
	color: #ffce3a;
	text-decoration: none;
}
h1{
	font-size: 28px;
	margin: 0;
	padding: 0;
	line-height: 1;
	font-weight: 600;
	letter-spacing: 2px;
}
.yellow{
	color: #ffce3a;
}
.wrap{
	max-width: 1024px;
	margin: 0 auto;
}
header{
	position: fixed;
    top: 0;
    right: 0;
    left: 0;
	padding: 20px 0;
	background: transparent;
	z-index: 1;
}
.headerHome{
	transition: all 0.5s;
}
header.header-scrolled {
	background: rgba(55, 64, 85, 0.9);
	padding: 15px 0;
}
header .logo,
header .navigation{
	flex: 1 1;
}

.headerWrap {
	display: flex;
	align-items: center;
}
header .logo {

}
  
header a {
	color: #fff;
}

header .logo a:hover {	
	color: #fff;
}

.navigation{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#hero {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 80vh;
	background: url("../images/bg.jpg") top center;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
  }
  
  #hero:before {
	content: "";
	background: rgba(45, 53, 69, 0.7);
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
  }
  #hero h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
}
#hero h2 {
    color: #eee;
    margin: 15px 0 0 0;
    font-size: 22px;
}
   .heroSectionWrap{
	position: relative;
	text-align: center;
    padding-top: 50px;
  }
main{
	flex: auto;
	min-height: 500px;
	padding-top: 0px;
}

.mainReferencesWrap{
	position: relative;
	height: 90px;
	background: rgba(55, 64, 85, 0.1);
	overflow: hidden;
}
.mainReferences{
	position: absolute;
	top: 20px;
	padding: 0 20px;
	animation: linear infinite alternate;
	-webkit-animation-name: run;
	-webkit-animation-duration: 5s;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}
.mainReferences:hover{
	animation-play-state: paused;
}
@-webkit-keyframes run {
	0% {
		left: 0;		
		transform: translateX(0);
	}
	100% {
		left: 100%;
		transform: translateX(-100%);
	}
}

.mainReferencesLogo{}
.mainReferencesLogo img{ max-width: 100px; max-height: 50px; filter: grayscale(100%);
    opacity: 0.6;}
.mainReferencesLogo:hover img{ filter: unset; opacity: 1;}

 

.mainNadzor{padding: 50px;}

footer{
	padding: 20px 0;
	background: rgba(55, 64, 85, 0.9);
	color: #fff;
}

.footerWrap{
	display: flex;
	gap: 50px;
}

footer a {
	color: #fff;
}

footer .footerLogo a:hover {	
	color: #fff;
}
footer .footerLogo h1 {	
	font-size: 22px;
}

.footerSection{
	flex: 1;
}

.footerSectionHeader{
}
.footerSectionContent{

}


 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
	h1{
		font-size: 25px;
	}
	.navigation{ display: none;}
	header .logo{padding-left: 20px;}

	#hero h1 {
		font-size: 35px;
	}
	#hero h2 {
		font-size: 20px;
	}
	.mainReferences{
		-webkit-animation-duration: 10s;
	}
	.mainNadzor{padding: 20px;}

	footer{padding: 20px;}
	.footerWrap{flex-direction: column;}
 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {}
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {}
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {}
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {...} 